input/graphs/*
!input/graphs/study-20-draft-150*
pipeline/
code/paper-figs/*
!code/paper-figs/*.jl
scratch/*
compressed_*
private-readme.md
code/hierarchical-random-graphs/readme.md
code/hierarchical-random-graphs/graph-stats.jl